# Platform: "mock" | "aws-amplify" | "aws-cdk" | "aws-terraform" | "azure"
VITE_PLATFORM=mock

VITE_APPSYNC_ENDPOINT=
VITE_COGNITO_USER_POOL_ID=
VITE_COGNITO_CLIENT_ID=
VITE_AWS_REGION=ap-southeast-2
